.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1.4rem;
  height: 5.6rem;
  padding: 0 2.4rem;
  padding-left: 2rem;
  background: var(--secondary);
  transition: background 0.3s ease-out, filter 0.3s ease-out;
  text-transform: uppercase;
  cursor: pointer;
}

.button img + p {
  margin-left: 1.6rem;
}

.button p + img {
  margin-left: 1.6rem;
}

.button p {
  color: #fff;
  font-family: 'Oxanium', cursive;
  letter-spacing: 0.2rem;
  font-weight: bold;
  position: relative;
  top: 1px;
}

.button:active {
  transform: translateY(0);
  color: #fff;
}

.button:hover {
  background: var(--secondary-dark);
  color: #fff;
}

.button:focus {
  filter: brightness(0.9);
  color: #fff;
}
